spring:
  application:
    name: storage-service

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
        
        


aws:
  access-key-id: ${AWS_ACCESS_KEY_ID}
  secret-access-key: ${AWS_SECRET_ACCESS_KEY}
  s3:
    bucket-name: ${S3_BUCKET_NAME}
    region: us-east-1
    