spring:
  application:
    name: storage-service

  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB

  datasource:
    url: jdbc:postgresql://localhost:5432/filestore
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  hikari:
    maximum-pool-size: 20
    minimum-idle: 5
    connection-timeout: 30000
    idle-timeout: 600000
    max-lifetime: 1800000
    leak-detection-threshold: 60000
    pool-name: StorageServiceHikariCP
    connection-test-query: SELECT 1
    auto-commit: true
    keepalive-time: 300000

aws:
  access-key-id: ${AWS_ACCESS_KEY_ID}
  secret-access-key: ${AWS_SECRET_ACCESS_KEY}
  s3:
    bucket-name: ${S3_BUCKET_NAME}
    region: ap-southeast-1
    
file:
  chunk:
    size: 1048576 # 1MB

jwt:
  secret: ${JWT_SECRET:5eb7aba84d0c2835ccfffd28021ba0823dc923191213b43a6554ba244fa870f6}
  access-token-expiration: ${JWT_ACCESS_TOKEN_EXPIRATION:9000000}
  refresh-token-expiration: ${JWT_REFRESH_TOKEN_EXPIRATION:604800000}

cors:
  allowed-origins: http://localhost:3000,http://localhost:5173
  allowed-methods: GET,POST,PUT,DELETE,OPTIONS
  allowed-headers: '*'
  allow-credentials: true

  servlet:
    encoding:
      charset: UTF-8
      force: false